.g-DrawerWrap {
  top: 0;
  height: 100vh;
  overflow: hidden;
  .m-DrawerMask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .m-DrawerContent {
    position: absolute;
    top: 0;
    padding: 16px;
    height: 100%;
    transition: all 0.3s;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    .m-CloseBtn {
      position: absolute;
      top: 0px;
      right: 10px;
      color: #ccc;
      cursor: pointer;
      font-size: 3.5vh;
      transition: 0.3s;
      &:hover{
        color: #0585d0;
      }
    }
  }
}
